{"openapi":"3.0.1","info":{"title":"Document Generation Service API","description":"Document Generation and Distribution System using JasperReports","contact":{"name":"Muban Team","url":"https://muban.me","email":"contact@muban.me"},"license":{"name":"S-MIT (Selective MIT)"},"version":"1.5.4"},"servers":[{"url":"https://api.sandbox.muban.me","description":"Muban Laboratory"},{"url":"http://localhost:8080","description":"Local Development"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Audit Dashboard","description":"Real-time audit dashboards and analytics"},{"name":"Users","description":"User management and profile operations (RBAC)"},{"name":"Authentication","description":"Authentication management APIs"},{"name":"Admin Operations","description":"Administrative operations for system maintenance (ROLE_ADMIN)"},{"name":"Async Monitoring","description":"Async document generation monitoring and metrics"},{"name":"Configuration","description":"System configuration management APIs"},{"name":"Audit","description":"Audit logging and security monitoring"},{"name":"Templates","description":"Document template management and generation"}],"paths":{"/api/v1/users/{userId}":{"get":{"tags":["Users"],"summary":"Get user by ID","description":"Retrieve user details by ID (Admin or own profile access)","operationId":"getUserById","parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"User found successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"403":{"description":"Forbidden - insufficient permissions","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}}}},"put":{"tags":["Users"],"summary":"Update user","description":"Update user profile information (Admin or own profile access)","operationId":"updateUser","parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRequestDto"}}},"required":true},"responses":{"200":{"description":"User updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"400":{"description":"Invalid request data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"403":{"description":"Forbidden - insufficient permissions","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}}}},"delete":{"tags":["Users"],"summary":"Delete user","description":"Delete user account (Admin role required, cannot delete own account)","operationId":"deleteUser","parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Cannot delete own account","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVoid"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVoid"}}}},"204":{"description":"User deleted successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVoid"}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVoid"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVoid"}}}}}}},"/api/v1/users/{userId}/roles":{"put":{"tags":["Users"],"summary":"Update user roles","description":"Update user role assignments (Admin role required, cannot remove own admin role)","operationId":"updateUserRoles","parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRolesRequestDto"}}},"required":true},"responses":{"200":{"description":"User roles updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"400":{"description":"Invalid request or cannot remove own admin role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}}}}},"/api/v1/users/{userId}/password":{"put":{"tags":["Users"],"summary":"Change user password","description":"Change password for a specific user (Admin or own password change)","operationId":"changePassword","parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequestDto"}}},"required":true},"responses":{"400":{"description":"Invalid password data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMessageDto"}}}},"200":{"description":"Password changed successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMessageDto"}}}},"403":{"description":"Forbidden - insufficient permissions","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMessageDto"}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMessageDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMessageDto"}}}}}}},"/api/v1/users/me":{"get":{"tags":["Users"],"summary":"Get current user profile","description":"Retrieve the profile of the currently authenticated user","operationId":"getCurrentUser","responses":{"200":{"description":"Current user profile retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}}}},"put":{"tags":["Users"],"summary":"Update current user profile","description":"Update the profile of the currently authenticated user","operationId":"updateCurrentUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRequestDto"}}},"required":true},"responses":{"200":{"description":"Profile updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"400":{"description":"Invalid request data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}}}}},"/api/v1/users/me/password":{"put":{"tags":["Users"],"summary":"Change current user password","description":"Change the password of the currently authenticated user","operationId":"changeCurrentUserPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequestDto"}}},"required":true},"responses":{"400":{"description":"Invalid password data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMessageDto"}}}},"200":{"description":"Password changed successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMessageDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMessageDto"}}}}}}},"/api/v1/users":{"get":{"tags":["Users"],"summary":"List users","description":"Retrieve paginated list of users with optional search (Admin role required)","operationId":"getUsers","parameters":[{"name":"page","in":"query","description":"Page number for pagination","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"size","in":"query","description":"Number of items per page","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20},{"name":"search","in":"query","description":"Search term to filter users","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Users retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedUsersDto"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedUsersDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedUsersDto"}}}}}},"post":{"tags":["Users"],"summary":"Create user","description":"Create a new user account (Admin role required)","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserRequestDto"}}},"required":true},"responses":{"201":{"description":"User created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"400":{"description":"Invalid request data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserDto"}}}}}}},"/api/v1/templates/{id}/generate/{format}":{"post":{"tags":["Templates"],"summary":"Generate document","description":"Generate document in specified format with native JSON type support, parameter validation, and optional JSON data source","operationId":"generateDocument","parameters":[{"name":"id","in":"path","description":"Template ID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"format","in":"path","description":"Output format (pdf, xlsx, docx, rtf, html)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateRequestDto"}}},"required":true},"responses":{"404":{"description":"Template not found","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Invalid parameters or validation failed","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"200":{"description":"Document generated successfully","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/templates/upload":{"post":{"tags":["Templates"],"summary":"Upload template","description":"Upload new document template (ZIP format, manager role required)","operationId":"uploadTemplate","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UploadTemplateRequestDto"}}}},"responses":{"200":{"description":"Template successfully uploaded","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoTemplateDto"}}}},"400":{"description":"Invalid request or file validation failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoTemplateDto"}}}},"403":{"description":"Forbidden - manager role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoTemplateDto"}}}},"413":{"description":"File too large (max 50MB)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoTemplateDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoTemplateDto"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Authentication"],"summary":"Refresh JWT access token","description":"Generate a new JWT access token and refresh token using a valid refresh token. The refresh token must be provided in the Authorization header with Bearer prefix. Returns new access and refresh tokens if the provided refresh token is valid.","operationId":"refresh","parameters":[{"name":"Authorization","in":"header","description":"Refresh token in Authorization header (Bearer {token})","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Token refreshed successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoJwtResponseDto"}}}},"400":{"description":"Bad request - JWT authentication is disabled","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoJwtResponseDto"}}}},"401":{"description":"Unauthorized - invalid or expired refresh token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoJwtResponseDto"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Authentication"],"summary":"User login","description":"Authenticate user and return JWT token","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDto"}}},"required":true},"responses":{"200":{"description":"Login successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDto"}}}},"400":{"description":"Invalid credentials or JWT disabled","content":{"application/json":{}}}}}},"/api/v1/audit/cleanup":{"post":{"tags":["Audit"],"summary":"Trigger manual audit log cleanup","description":"Manually initiates cleanup of old audit logs based on retention policy. Preserves CRITICAL and HIGH severity events. Restricted to administrators.","operationId":"cleanupOldLogs","responses":{"200":{"description":"Cleanup initiated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}},"403":{"description":"Forbidden - Admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}}}}},"/api/v1/async/bulk":{"post":{"tags":["Async Monitoring"],"summary":"Submit bulk async requests","description":"Submit multiple document generation requests in a single call. Requests are validated, tracked in database with QUEUED status, and published to JMS queue. Maximum 10,000 requests per batch. Returns tracking IDs for all successfully queued requests.","operationId":"submitBulkRequests","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkAsyncRequestDto"}}},"required":true},"responses":{"200":{"description":"Bulk submission processed (check response for individual failures)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkAsyncResponseDto"}}}},"400":{"description":"Invalid request format","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBulkAsyncResponseDto"}}}},"503":{"description":"Async processing not enabled","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBulkAsyncResponseDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBulkAsyncResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/templates/{id}/verify-integrity":{"post":{"tags":["Admin Operations"],"summary":"Verify template integrity","description":"Checks if template file has been modified or tampered with by comparing current HMAC digest with stored digest. Returns 409 Conflict if integrity check fails. (Admin role required)","operationId":"verifyIntegrity","parameters":[{"name":"id","in":"path","description":"UUID of the template","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Template not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}},"200":{"description":"Integrity verified successfully - file is unchanged","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDto"}}}},"422":{"description":"Integrity violation - file may have been tampered with","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}},"500":{"description":"Failed to verify integrity - IO error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/templates/{id}/regenerate-digest":{"post":{"tags":["Admin Operations"],"summary":"Regenerate integrity digest for a template","description":"Recalculates and updates the HMAC-SHA256 digest for template verification. Use this after legitimate template updates or when a digest file is corrupted. (Admin role required)","operationId":"regenerateDigest","parameters":[{"name":"id","in":"path","description":"UUID of the template","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Template not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}},"200":{"description":"Digest regenerated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDto"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}},"500":{"description":"Failed to regenerate digest - IO error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/admin/templates/regenerate-all-digests":{"post":{"tags":["Admin Operations"],"summary":"Regenerate integrity digests for all templates","description":"Recalculates and updates HMAC-SHA256 digests for all templates in the system. Use this operation after changing the file.integrity.secret-key configuration or when migrating templates. Returns a map with template IDs as keys and status ('SUCCESS' or error message) as values. Returns 200 for all success, 500 for all failures, or 207 Multi-Status for partial success. (Admin role required)","operationId":"regenerateAllDigests","responses":{"500":{"description":"All digest regenerations failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDto"}}}},"200":{"description":"All digests regenerated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDto"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringString"}}}},"207":{"description":"Multi-Status - some digests regenerated successfully, some failed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringString"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/templates":{"get":{"tags":["Templates"],"summary":"List templates","description":"Retrieve paginated list of document templates with optional search","operationId":"getTemplates","parameters":[{"name":"page","in":"query","description":"Page number for pagination","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"size","in":"query","description":"Number of items per page","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20},{"name":"search","in":"query","description":"Search term to filter templates","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Templates retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedTemplatesDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedTemplatesDto"}}}}}}},"/api/v1/templates/{id}":{"get":{"tags":["Templates"],"summary":"Get template details","description":"Retrieve metadata for a specific document template","operationId":"getTemplate","parameters":[{"name":"id","in":"path","description":"Template ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Template not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoTemplateDto"}}}},"200":{"description":"Template found successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoTemplateDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoTemplateDto"}}}}}},"delete":{"tags":["Templates"],"summary":"Delete template","description":"Remove a document template from the system (Manager role required)","operationId":"deleteTemplate","parameters":[{"name":"id","in":"path","description":"Template ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Template not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVoid"}}}},"403":{"description":"Forbidden - manager role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVoid"}}}},"204":{"description":"Template deleted successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVoid"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoVoid"}}}}}}},"/api/v1/templates/{id}/params":{"get":{"tags":["Templates"],"summary":"Get template parameters","description":"Retrieve required parameters for generating the document template","operationId":"getTemplateParameters","parameters":[{"name":"id","in":"path","description":"Template ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Template not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListTemplateParameterDto"}}}},"200":{"description":"Parameters retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListTemplateParameterDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListTemplateParameterDto"}}}}}}},"/api/v1/templates/{id}/fields":{"get":{"tags":["Templates"],"summary":"Get template fields","description":"Retrieve stored field definitions for a specific document template","operationId":"getTemplateFields","parameters":[{"name":"id","in":"path","description":"Template ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Template not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListTemplateFieldDto"}}}},"200":{"description":"Fields retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListTemplateFieldDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListTemplateFieldDto"}}}}}}},"/api/v1/templates/{id}/download":{"get":{"tags":["Templates"],"summary":"Download template","description":"Download a document template by its UUID. Returns a ZIP file containing the template. Accessible by all authenticated users.","operationId":"downloadTemplate","parameters":[{"name":"id","in":"path","description":"UUID of the template to download","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"404":{"description":"Template not found","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"200":{"description":"Template downloaded successfully","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/templates/icc-profiles":{"get":{"tags":["Templates"],"summary":"Get available ICC profiles","description":"Retrieve list of available ICC color profiles for PDF export. These profiles can be used with the pdfExportOptions parameter when generating PDF documents.","operationId":"getAvailableIccProfiles","responses":{"200":{"description":"ICC profiles retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListString"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListString"}}}}}}},"/api/v1/templates/fonts":{"get":{"tags":["Templates"],"summary":"Get available fonts","description":"Retrieve list of available font families for document generation. These fonts can be used in JRXML templates with fontName attribute. Includes information about available font faces (normal, bold, italic, boldItalic) and PDF embedding status.","operationId":"getAvailableFonts","responses":{"200":{"description":"Font families retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListFontFamilyDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListFontFamilyDto"}}}}}}},"/api/v1/config":{"get":{"tags":["Configuration"],"summary":"Get all configuration settings","description":"Retrieve all system configuration settings. Returns comprehensive configuration data including JasperReports settings, system parameters, and feature flags.","operationId":"getAllConfig","responses":{"403":{"description":"Access denied - requires ADMIN role","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"200":{"description":"Configuration retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}}}}},"/api/v1/auth/status":{"get":{"tags":["Authentication"],"summary":"Get authentication status","description":"Get current authentication configuration status including all enabled authentication methods. Returns both legacy flags (oauth2Enabled, jwtEnabled, adfsEnabled) and current configuration flags (internalEnabled, oauth2ClientEnabled, oauth2WebEnabled) for backward compatibility.","operationId":"getAuthStatus","responses":{"200":{"description":"Authentication status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDto"}}}}}}},"/api/v1/auth/oauth2/success":{"get":{"tags":["Authentication"],"summary":"OAuth2 authentication success","description":"Handle successful OAuth2 authentication and provide token information","operationId":"oauth2Success","responses":{"200":{"description":"OAuth2 authentication successful","content":{"application/json":{}}},"401":{"description":"OAuth2 authentication failed or session expired","content":{"application/json":{}}}}}},"/api/v1/auth/oauth2/failure":{"get":{"tags":["Authentication"],"summary":"OAuth2 authentication failure","description":"Handle failed OAuth2 authentication attempts","operationId":"oauth2Failure","parameters":[{"name":"reason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}}}}},"/api/v1/audit/users/{userId}":{"get":{"tags":["Audit"],"summary":"Get audit logs for specific user","description":"Retrieve paginated audit logs for a specific user by their UUID. Returns all audit events associated with the user within the specified time period. Admin role required.","operationId":"getUserActivity","parameters":[{"name":"userId","in":"path","description":"UUID of the user to retrieve audit logs for","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"startTime","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"User audit logs retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}}}}},"/api/v1/audit/statistics":{"get":{"tags":["Audit"],"summary":"Get comprehensive audit statistics","description":"Retrieve detailed audit statistics including event counts, user activity (top 20), client activity (top 20 OAuth2 clients), daily trends, IP address analysis (top 10), unique metrics, and performance data for a specified time period. Admin role required.","operationId":"getAuditStatistics","parameters":[{"name":"startTime","in":"query","description":"Start time for statistics period","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End time for statistics period","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Audit statistics retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAuditStatisticsDto"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAuditStatisticsDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAuditStatisticsDto"}}}}}}},"/api/v1/audit/severity-levels":{"get":{"tags":["Audit"],"summary":"Get available audit severity levels","description":"Retrieve the list of all available audit log severity levels (LOW, MEDIUM, HIGH, CRITICAL). Use these values when filtering audit logs by severity.","operationId":"getSeverityLevels","responses":{"200":{"description":"Severity levels retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListString"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListString"}}}}}}},"/api/v1/audit/security":{"get":{"tags":["Audit"],"summary":"Get security events","description":"Retrieve high-priority security-related audit logs (Admin role required)","operationId":"getSecurityEvents","parameters":[{"name":"page","in":"query","description":"Page number for pagination","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"size","in":"query","description":"Number of items per page","required":false,"schema":{"type":"integer","format":"int32","default":50},"example":50},{"name":"startTime","in":"query","description":"Start time for filtering security events","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End time for filtering security events","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Security events retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}}}}},"/api/v1/audit/logs":{"get":{"tags":["Audit"],"summary":"Get audit logs","description":"Retrieve paginated audit logs with optional filtering (Admin role required)","operationId":"getAuditLogs","parameters":[{"name":"page","in":"query","description":"Page number for pagination","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"size","in":"query","description":"Number of items per page","required":false,"schema":{"type":"integer","format":"int32","default":50},"example":50},{"name":"eventType","in":"query","description":"Filter by event type","required":false,"schema":{"type":"string","enum":["LOGIN_SUCCESS","LOGIN_FAILURE","LOGOUT","TOKEN_REFRESH","TOKEN_EXPIRED","UNAUTHORIZED_ACCESS","PERMISSION_DENIED","USER_CREATED","USER_UPDATED","USER_DELETED","USER_ENABLED","USER_DISABLED","USER_ROLES_UPDATED","PASSWORD_CHANGED","PROFILE_UPDATED","USER_VIEWED","USERS_LISTED","TEMPLATE_CREATED","TEMPLATE_UPDATED","TEMPLATE_DELETED","TEMPLATE_VIEWED","TEMPLATE_LISTED","TEMPLATE_DOWNLOADED","TEMPLATE_GENERATED","TEMPLATE_PARAMS_ACCESSED","TEMPLATE_FIELDS_ACCESSED","INTEGRITY_DIGEST_REGENERATED","INTEGRITY_CHECK_PERFORMED","INTEGRITY_CHECK_PASSED","INTEGRITY_CHECK_FAILED","INTEGRITY_BULK_REGENERATION","AUDIT_LOG_VIEWED","AUDIT_LOGS_LISTED","SYSTEM_STARTUP","SYSTEM_SHUTDOWN","CONFIG_CHANGED","CONFIG_VIEWED","SUSPICIOUS_ACTIVITY","RATE_LIMIT_EXCEEDED","INJECTION_ATTEMPT","BRUTE_FORCE_ATTEMPT","DATA_EXPORT","DATA_IMPORT","BULK_OPERATION","APPLICATION_ERROR","DATABASE_ERROR","EXTERNAL_SERVICE_ERROR","API_REQUEST","API_RESPONSE","API_ERROR"]}},{"name":"severity","in":"query","description":"Filter by severity level","required":false,"schema":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"]}},{"name":"userId","in":"query","description":"Filter by user ID","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"ipAddress","in":"query","description":"Filter by IP address","required":false,"schema":{"type":"string"}},{"name":"startTime","in":"query","description":"Start time for filtering logs","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End time for filtering logs","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"success","in":"query","description":"Filter by operation success status","required":false,"schema":{"type":"boolean"}}],"responses":{"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}},"200":{"description":"Audit logs retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}}}}},"/api/v1/audit/logs/{id}":{"get":{"tags":["Audit"],"summary":"Get specific audit log","description":"Retrieve details of a specific audit log entry by ID (Admin role required)","operationId":"getAuditLog","parameters":[{"name":"id","in":"path","description":"Audit log ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Audit log retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAuditLogDto"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAuditLogDto"}}}},"404":{"description":"Audit log not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAuditLogDto"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAuditLogDto"}}}}}}},"/api/v1/audit/health":{"get":{"tags":["Audit"],"summary":"Audit system health check","description":"Checks if the audit system is operational and responding. Available to all authenticated users.","operationId":"getAuditHealth","responses":{"200":{"description":"Audit system is operational","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoString"}}}}}}},"/api/v1/audit/failures":{"get":{"tags":["Audit"],"summary":"Get failed operations audit logs","description":"Retrieves paginated list of audit logs for failed operations within specified time range. Restricted to administrators.","operationId":"getFailedOperations","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"startTime","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"403":{"description":"Forbidden - Admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}},"200":{"description":"Successfully retrieved failed operations logs","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAuditLogsDto"}}}}}}},"/api/v1/audit/event-types":{"get":{"tags":["Audit"],"summary":"Get available audit event types","description":"Returns a list of all available audit event types that can be used for filtering audit logs. Restricted to administrators.","operationId":"getEventTypes","responses":{"403":{"description":"Forbidden - Admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListString"}}}},"200":{"description":"Successfully retrieved event types","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListString"}}}}}}},"/api/v1/audit/dashboard/user-patterns":{"get":{"tags":["Audit Dashboard"],"summary":"Get user activity patterns dashboard","description":"Analyze user behavior patterns including user creations, role assignments, login activities, and access patterns. Includes comprehensive statistics for identifying unusual user behavior and access trends. Default period is last 7 days. Admin role required.","operationId":"getUserActivityPatterns","parameters":[{"name":"startTime","in":"query","description":"Start time for user pattern analysis (default: 7 days ago)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End time for user pattern analysis (default: now)","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"User activity patterns retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}}}}},"/api/v1/audit/dashboard/system-health":{"get":{"tags":["Audit Dashboard"],"summary":"Get system health metrics dashboard","description":"Retrieve system health metrics from audit logs including application errors, database errors, external service errors, authentication issues, and validation failures. Analyzes last 24 hours of system activity for health monitoring and troubleshooting. Admin role required.","operationId":"getSystemHealthMetrics","responses":{"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"200":{"description":"System health metrics retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}}}}},"/api/v1/audit/dashboard/security-threats":{"get":{"tags":["Audit Dashboard"],"summary":"Get security threats summary","description":"Retrieve security threat summary for the last 24 hours (Admin role required)","operationId":"getSecurityThreats","responses":{"200":{"description":"Security threats summary retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}}}}},"/api/v1/audit/dashboard/overview":{"get":{"tags":["Audit Dashboard"],"summary":"Get audit dashboard overview","description":"Retrieve real-time audit dashboard overview with statistics and recent events (Admin role required)","operationId":"getDashboardOverview","responses":{"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"200":{"description":"Dashboard overview retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}}}}},"/api/v1/audit/dashboard/compliance":{"get":{"tags":["Audit Dashboard"],"summary":"Get compliance activity dashboard","description":"Retrieve compliance-related audit data including critical operations such as user deletions, role changes, access grants/revocations, configuration changes, and authentication bypass attempts. Provides comprehensive compliance tracking for regulatory requirements. Admin role required.","operationId":"getComplianceActivity","parameters":[{"name":"startTime","in":"query","description":"Start time for compliance analysis period","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endTime","in":"query","description":"End time for compliance analysis period","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Compliance dashboard data retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"403":{"description":"Forbidden - admin role required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoMapStringObject"}}}}}}},"/api/v1/async/workers":{"get":{"tags":["Async Monitoring"],"summary":"Get worker thread status","description":"Returns JMS listener container status and list of currently processing requests","operationId":"getWorkerStatus","responses":{"403":{"description":"Access denied - requires ROLE_ADMIN","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAsyncWorkersDto"}}}},"200":{"description":"Worker status retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAsyncWorkersDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/async/requests":{"get":{"tags":["Async Monitoring"],"summary":"Get async request list","description":"Returns paginated list of async requests with optional filtering by status, userId, templateId, and time","operationId":"getRequests","parameters":[{"name":"status","in":"query","description":"Filter by status (QUEUED/PROCESSING/COMPLETED/FAILED/TIMEOUT)","required":false,"schema":{"type":"string","enum":["QUEUED","PROCESSING","COMPLETED","FAILED","TIMEOUT"]}},{"name":"userId","in":"query","description":"Filter by user ID","required":false,"schema":{"type":"string"}},{"name":"templateId","in":"query","description":"Filter by template ID","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"since","in":"query","description":"Filter by created after this timestamp (ISO format)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"Page number for pagination","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"Number of items per page (max 100)","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"Requests retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAsyncRequestsDto"}}}},"403":{"description":"Access denied - requires ROLE_ADMIN","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAsyncRequestsDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/async/requests/{requestId}":{"get":{"tags":["Async Monitoring"],"summary":"Get async request details","description":"Returns detailed information about a specific async request including metrics and error information","operationId":"getRequestDetails","parameters":[{"name":"requestId","in":"path","description":"Request ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Request details retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAsyncRequestDetailsDto"}}}},"404":{"description":"Request not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAsyncRequestDetailsDto"}}}},"403":{"description":"Access denied - requires ROLE_ADMIN","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAsyncRequestDetailsDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/async/metrics":{"get":{"tags":["Async Monitoring"],"summary":"Get async metrics dashboard","description":"Returns queue depth, performance metrics, throughput, and error rates for async document generation","operationId":"getMetrics","responses":{"200":{"description":"Metrics retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AsyncMetricsDto"}}}},"403":{"description":"Access denied - requires ROLE_ADMIN","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAsyncMetricsDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/async/health":{"get":{"tags":["Async Monitoring"],"summary":"Get async system health","description":"Returns Actuator-style health check for async components (ActiveMQ, queue depth, workers)","operationId":"getHealth","responses":{"200":{"description":"Health status retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAsyncHealthDto"}}}},"403":{"description":"Access denied - requires ROLE_ADMIN","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoAsyncHealthDto"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/async/errors":{"get":{"tags":["Async Monitoring"],"summary":"Get async error log","description":"Returns paginated list of failed or timed-out async requests for troubleshooting","operationId":"getErrors","parameters":[{"name":"since","in":"query","description":"Show errors since this timestamp (ISO format, default: last 24 hours)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"Page number for pagination","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"Number of items per page (max 100)","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"Error log retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAsyncErrorsDto"}}}},"403":{"description":"Access denied - requires ROLE_ADMIN","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPaginatedAsyncErrorsDto"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"UpdateUserRequestDto":{"type":"object","properties":{"email":{"type":"string"},"firstName":{"maxLength":100,"minLength":1,"type":"string"},"lastName":{"maxLength":100,"minLength":1,"type":"string"},"enabled":{"type":"boolean"}},"description":"Profile update data"},"ApiErrorDto":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"field":{"type":"string"},"details":{"type":"string"}}},"ApiMetaDto":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"},"correlationId":{"type":"string"},"requestId":{"type":"string"},"status":{"type":"string"}}},"ApiResponseDtoUserDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/UserDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"UserDto":{"required":["email","firstName","lastName","username"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"username":{"maxLength":50,"minLength":3,"type":"string"},"email":{"type":"string"},"firstName":{"maxLength":100,"minLength":1,"type":"string"},"lastName":{"maxLength":100,"minLength":1,"type":"string"},"roles":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["ROLE_USER","ROLE_ADMIN","ROLE_MANAGER"]}},"enabled":{"type":"boolean"},"created":{"type":"string","format":"date-time"},"lastLogin":{"type":"string","format":"date-time"},"oauthUser":{"type":"boolean"}}},"UpdateRolesRequestDto":{"required":["roles"],"type":"object","properties":{"roles":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["ROLE_USER","ROLE_ADMIN","ROLE_MANAGER"]}}},"description":"Role update data"},"ChangePasswordRequestDto":{"required":["currentPassword","newPassword"],"type":"object","properties":{"currentPassword":{"type":"string"},"newPassword":{"maxLength":2147483647,"minLength":8,"type":"string"}},"description":"Password change data"},"ApiResponseDtoMessageDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/MessageDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"MessageDto":{"type":"object","properties":{"message":{"type":"string"}}},"CreateUserRequestDto":{"required":["email","firstName","lastName","password","username"],"type":"object","properties":{"username":{"maxLength":50,"minLength":3,"type":"string"},"email":{"type":"string"},"password":{"maxLength":2147483647,"minLength":8,"type":"string"},"firstName":{"maxLength":100,"minLength":1,"type":"string"},"lastName":{"maxLength":100,"minLength":1,"type":"string"},"roles":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["ROLE_USER","ROLE_ADMIN","ROLE_MANAGER"]}},"enabled":{"type":"boolean"}},"description":"User creation data"},"GenerateRequestDto":{"required":["parameters"],"type":"object","properties":{"parameters":{"type":"array","description":"List of parameter values for document generation","example":[{"name":"reportTitle","value":"Monthly Sales Report"},{"name":"totalAmount","value":15750.25}],"items":{"$ref":"#/components/schemas/ParameterValueDto"}},"filename":{"maxLength":100,"type":"string","description":"Optional client-specified filename for the generated document. Automatically sanitized and extension added based on format","example":"Monthly_Sales_Report_October_2025"},"data":{"type":"object","additionalProperties":{"type":"object","description":"Optional JSON data source for complex reports. Can contain arrays, objects, or any valid JSON structure","example":{"items":[{"productName":"Widget A","quantity":100,"unitPrice":25.5}]}},"description":"Optional JSON data source for complex reports. Can contain arrays, objects, or any valid JSON structure","example":{"items":[{"productName":"Widget A","quantity":100,"unitPrice":25.5}]}},"documentLocale":{"pattern":"^[a-z]{2}(_[A-Z]{2}(_[a-zA-Z0-9]+)?)?$","type":"string","description":"Optional locale for internationalization and formatting (e.g., 'pl_PL', 'en_US'). Affects number, date, and currency formatting","example":"pl_PL"},"pdfExportOptions":{"$ref":"#/components/schemas/PdfExportOptionsDto"},"htmlExportOptions":{"$ref":"#/components/schemas/HtmlExportOptionsDto"},"ignorePagination":{"type":"boolean","description":"Optional pagination control. When true, ignores pagination and renders as continuous content","example":false,"default":false}},"description":"Document generation request with parameters and optional data"},"HtmlExportOptionsDto":{"type":"object","properties":{"embedFonts":{"type":"boolean","description":"Whether to embed fonts in the HTML output. Set to false for email usage to reduce file size. When disabled, HTML will rely on system/web fonts.","example":true,"default":true},"embedImages":{"type":"boolean","description":"Whether to embed images directly in the HTML. When true, images are stored as separate files in the assets directory. When false, images may be base64-encoded inline (if supported).","example":true,"default":true},"useWebSafeFonts":{"type":"boolean","description":"Whether to use web-safe font fallbacks (Arial, Times New Roman, etc.) instead of custom fonts. Recommended for email usage.","example":false,"default":false},"removeEmptySpace":{"type":"boolean","description":"Whether to remove empty space between rows in tables to create more compact output.","example":false,"default":false},"wrapBreakWord":{"type":"boolean","description":"Whether to wrap text at word boundaries to prevent horizontal scrolling.","example":false,"default":false},"ignorePageMargins":{"type":"boolean","description":"Whether to ignore page margins from the report design. Useful for responsive HTML output.","example":false,"default":false}},"description":"HTML-specific export options for controlling output characteristics","example":{"embedFonts":false,"embedImages":true,"useWebSafeFonts":true}},"ParameterValueDto":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"object"}},"description":"List of parameter values for document generation","example":[{"name":"reportTitle","value":"Monthly Sales Report"},{"name":"totalAmount","value":15750.25}]},"PdfExportOptionsDto":{"type":"object","properties":{"pdfaConformance":{"type":"string","description":"PDF/A conformance level for long-term archival and accessibility. Note: PDF/A and encryption are mutually exclusive.","example":"PDF/A-1b","enum":["PDF/A-1a","PDF/A-1b","PDF/A-2a","PDF/A-2b","PDF/A-3a","PDF/A-3b"]},"iccProfile":{"type":"string","description":"ICC color profile name for CMYK color management in professional printing. Profile files must be available in classpath:icc/","example":"pso-coated-v3","enum":["pso-coated-v3","pso-uncoated-v3","coated-fogra39","web-coated-fogra28","uncoated-fogra29","us-web-coated-swop-v2"]},"userPassword":{"type":"string","description":"Password required to open and view the PDF document. Leave empty to allow opening without password.","example":"secretPassword123"},"ownerPassword":{"type":"string","description":"Password required to change security settings or permissions. Recommended to be different from userPassword.","example":"ownerSecret456"},"canPrint":{"type":"boolean","description":"Allow or deny printing of the document. Default is true (printing allowed).","example":true,"default":true},"canPrintHighQuality":{"type":"boolean","description":"Allow high-quality printing. If false, only low-resolution printing is allowed. Default is true.","example":true,"default":true},"canModify":{"type":"boolean","description":"Allow or deny modification of document content. Default is false (modification not allowed).","example":false,"default":false},"canCopy":{"type":"boolean","description":"Allow or deny copying of text and graphics. Default is true (copying allowed).","example":true,"default":true},"canFillForms":{"type":"boolean","description":"Allow or deny filling in form fields. Default is true (form filling allowed).","example":true,"default":true},"canAnnotate":{"type":"boolean","description":"Allow or deny adding annotations and comments. Default is true (annotations allowed).","example":true,"default":true},"canAssemble":{"type":"boolean","description":"Allow or deny document assembly (inserting, deleting, rotating pages). Default is false.","example":false,"default":false},"encryptionKeyLength":{"type":"integer","description":"Encryption key length in bits. 128 for AES-128 (compatible), 256 for AES-256 (more secure). Default is 128.","format":"int32","example":128,"enum":[128,256],"default":128}},"description":"PDF-specific export configuration for professional printing, archival, and security purposes","example":{"iccProfile":"pso-coated-v3","pdfaConformance":"PDF/A-1b"}},"UploadTemplateRequestDto":{"required":["author","file","name"],"type":"object","properties":{"name":{"type":"string","description":"Template name","example":"Monthly Report Template"},"metadata":{"type":"string","description":"Template metadata","example":"Financial report template with quarterly data"},"author":{"type":"string","description":"Template author name","example":"John Smith"},"file":{"type":"string","format":"binary"}},"description":"Template upload data"},"ApiResponseDtoTemplateDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/TemplateDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"TemplateDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"metadata":{"type":"string"},"author":{"type":"string"},"created":{"type":"string","format":"date-time"},"templatePath":{"type":"string"},"fileSize":{"type":"integer","format":"int64"}}},"ApiResponseDtoJwtResponseDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/JwtResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"JwtResponseDto":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"tokenType":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"username":{"type":"string"},"userId":{"type":"string","format":"uuid"}}},"LoginRequestDto":{"required":["password","username"],"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}},"description":"Login credentials"},"ApiResponseDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"type":"object"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"ApiResponseDtoString":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"BulkAsyncRequestDto":{"required":["requests"],"type":"object","properties":{"batchCorrelationId":{"type":"string","description":"Optional correlation ID for the entire batch","example":"batch-2025-12-30-001"},"requests":{"maxItems":10000,"minItems":0,"type":"array","description":"Array of document generation requests (max 10000)","items":{"$ref":"#/components/schemas/BulkRequestItem"}}},"description":"Bulk request with array of document generation requests"},"BulkRequestItem":{"required":["format","templateId"],"type":"object","properties":{"requestId":{"type":"string","description":"Optional client-provided request ID (UUID generated if omitted)","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"correlationId":{"type":"string","description":"Optional correlation ID for client-side tracking","example":"order-12345"},"templateId":{"type":"string","description":"Template UUID","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"},"format":{"type":"string","description":"Output format: PDF, XLSX, DOCX, RTF, HTML","example":"PDF"},"parameters":{"type":"array","description":"Parameters as list of {name, value} objects","example":[{"name":"reportTitle","value":"Monthly Report"},{"name":"amount","value":1500.5}],"items":{"type":"object","additionalProperties":{"type":"object","description":"Parameters as list of {name, value} objects","example":[{"name":"reportTitle","value":"Monthly Report"},{"name":"amount","value":1500.5}]},"description":"Parameters as list of {name, value} objects","example":[{"name":"reportTitle","value":"Monthly Report"},{"name":"amount","value":1500.5}]}},"data":{"type":"object","description":"Optional JSON data source for the report"},"documentLocale":{"type":"string","description":"Locale for formatting (e.g., 'en_US', 'pl_PL')","example":"pl_PL"},"pdfExportOptions":{"type":"object","additionalProperties":{"type":"object","description":"PDF-specific export options"},"description":"PDF-specific export options"},"htmlExportOptions":{"type":"object","additionalProperties":{"type":"object","description":"HTML-specific export options"},"description":"HTML-specific export options"},"ignorePagination":{"type":"boolean","description":"Whether to ignore pagination","example":false},"filename":{"type":"string","description":"Output filename (extension added automatically)","example":"monthly_report_jan_2025"},"replyQueue":{"type":"string","description":"JMS reply queue for response delivery","example":"document.generation.replies.client-abc"},"priority":{"maximum":10,"minimum":1,"type":"integer","description":"Priority 1-10 (higher = more urgent)","format":"int32","example":5},"timeoutSeconds":{"type":"integer","description":"Processing timeout in seconds","format":"int32","example":300}},"description":"Single document generation request within bulk submission"},"BulkAsyncResponseDto":{"type":"object","properties":{"batchCorrelationId":{"type":"string","description":"Correlation ID for the entire batch","example":"batch-2025-12-30-001"},"submittedAt":{"type":"string","description":"Timestamp when batch was queued","format":"date-time","example":"2025-12-30T10:00:00Z"},"totalRequests":{"type":"integer","description":"Total requests submitted","format":"int32","example":1000},"successCount":{"type":"integer","description":"Requests successfully queued","format":"int32","example":998},"failedCount":{"type":"integer","description":"Requests that failed validation","format":"int32","example":2},"queueDepthBefore":{"type":"integer","description":"Queue depth before batch submission","format":"int64","example":150},"estimatedTotalProcessingMs":{"type":"integer","description":"Estimated total processing time in milliseconds","format":"int64","example":300000},"queuedRequests":{"type":"array","description":"Successfully queued requests","items":{"$ref":"#/components/schemas/QueuedRequest"}},"failedRequests":{"type":"array","description":"Requests that failed validation","items":{"$ref":"#/components/schemas/FailedRequest"}}},"description":"Response for bulk async submission with tracking information"},"FailedRequest":{"type":"object","properties":{"index":{"type":"integer","description":"Index in the original request array (0-based)","format":"int32","example":5},"correlationId":{"type":"string","description":"Client-provided correlation ID (if any)","example":"order-12350"},"errorCode":{"type":"string","description":"Error code","example":"TEMPLATE_NOT_FOUND"},"errorMessage":{"type":"string","description":"Error message","example":"Template not found with id: 123e4567-e89b-12d3-a456-426614174999"}},"description":"Failed request with error details"},"QueuedRequest":{"type":"object","properties":{"requestId":{"type":"string","description":"Request ID for tracking","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"correlationId":{"type":"string","description":"Correlation ID","example":"order-12345"},"index":{"type":"integer","description":"Index in the original request array (0-based)","format":"int32","example":0},"templateId":{"type":"string","description":"Template ID","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"},"format":{"type":"string","description":"Output format","example":"PDF"}},"description":"Successfully queued request"},"ApiResponseDtoBulkAsyncResponseDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/BulkAsyncResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"ApiResponseDtoMapStringString":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"type":"object","additionalProperties":{"type":"string"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"ApiResponseDtoPaginatedUsersDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/PaginatedUsersDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"PaginatedUsersDto":{"type":"object","properties":{"totalItems":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"itemsPerPage":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/UserDto"}}}},"ApiResponseDtoPaginatedTemplatesDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/PaginatedTemplatesDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"PaginatedTemplatesDto":{"type":"object","properties":{"totalItems":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"itemsPerPage":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/TemplateDto"}}}},"ApiResponseDtoListTemplateParameterDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TemplateParameterDto"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"TemplateParameterDto":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"defaultValue":{"type":"string"},"description":{"type":"string"}}},"ApiResponseDtoListTemplateFieldDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TemplateFieldDto"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"TemplateFieldDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"type":{"type":"string"},"defaultValue":{"type":"string"},"description":{"type":"string"},"required":{"type":"boolean"},"displayName":{"type":"string"},"collectionName":{"type":"string"},"arrayElement":{"type":"boolean"}}},"ApiResponseDtoListString":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"type":"array","items":{"type":"string"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"ApiResponseDtoListFontFamilyDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FontFamilyDto"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"FontFamilyDto":{"type":"object","properties":{"name":{"type":"string","description":"Font family name as used in JRXML templates","example":"DejaVu Sans"},"faces":{"type":"array","description":"Available font faces (normal, bold, italic, boldItalic)","example":["normal","bold","italic","boldItalic"],"items":{"type":"string","description":"Available font faces (normal, bold, italic, boldItalic)","example":"[\"normal\",\"bold\",\"italic\",\"boldItalic\"]"}},"pdfEmbedded":{"type":"boolean","description":"Whether the font is embedded in PDF output","example":true}},"description":"Information about an available font family for document generation"},"ApiResponseDtoMapStringObject":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"type":"object","additionalProperties":{"type":"object"}},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"ApiResponseDtoPaginatedAuditLogsDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/PaginatedAuditLogsDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"AuditLogDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"timestamp":{"type":"string","format":"date-time"},"eventType":{"type":"string","enum":["LOGIN_SUCCESS","LOGIN_FAILURE","LOGOUT","TOKEN_REFRESH","TOKEN_EXPIRED","UNAUTHORIZED_ACCESS","PERMISSION_DENIED","USER_CREATED","USER_UPDATED","USER_DELETED","USER_ENABLED","USER_DISABLED","USER_ROLES_UPDATED","PASSWORD_CHANGED","PROFILE_UPDATED","USER_VIEWED","USERS_LISTED","TEMPLATE_CREATED","TEMPLATE_UPDATED","TEMPLATE_DELETED","TEMPLATE_VIEWED","TEMPLATE_LISTED","TEMPLATE_DOWNLOADED","TEMPLATE_GENERATED","TEMPLATE_PARAMS_ACCESSED","TEMPLATE_FIELDS_ACCESSED","INTEGRITY_DIGEST_REGENERATED","INTEGRITY_CHECK_PERFORMED","INTEGRITY_CHECK_PASSED","INTEGRITY_CHECK_FAILED","INTEGRITY_BULK_REGENERATION","AUDIT_LOG_VIEWED","AUDIT_LOGS_LISTED","SYSTEM_STARTUP","SYSTEM_SHUTDOWN","CONFIG_CHANGED","CONFIG_VIEWED","SUSPICIOUS_ACTIVITY","RATE_LIMIT_EXCEEDED","INJECTION_ATTEMPT","BRUTE_FORCE_ATTEMPT","DATA_EXPORT","DATA_IMPORT","BULK_OPERATION","APPLICATION_ERROR","DATABASE_ERROR","EXTERNAL_SERVICE_ERROR","API_REQUEST","API_RESPONSE","API_ERROR"]},"severity":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"]},"userId":{"type":"string","format":"uuid"},"username":{"type":"string"},"clientId":{"type":"string"},"sessionId":{"type":"string"},"ipAddress":{"type":"string"},"userAgent":{"type":"string"},"resourceType":{"type":"string"},"resourceId":{"type":"string"},"action":{"type":"string"},"description":{"type":"string"},"requestUrl":{"type":"string"},"httpMethod":{"type":"string"},"requestParams":{"type":"string"},"responseStatus":{"type":"integer","format":"int32"},"executionTimeMs":{"type":"integer","format":"int64"},"success":{"type":"boolean"},"errorMessage":{"type":"string"},"correlationId":{"type":"string"},"metadata":{"type":"object","additionalProperties":{"type":"string"}},"oldValues":{"type":"string"},"newValues":{"type":"string"},"riskScore":{"type":"integer","format":"int32"},"complianceFlags":{"type":"string"}}},"PaginatedAuditLogsDto":{"type":"object","properties":{"totalItems":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"itemsPerPage":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/AuditLogDto"}}}},"ApiResponseDtoAuditStatisticsDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/AuditStatisticsDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"AuditStatisticsDto":{"type":"object","properties":{"periodStart":{"type":"string","format":"date-time"},"periodEnd":{"type":"string","format":"date-time"},"totalEvents":{"type":"integer","format":"int64"},"successfulEvents":{"type":"integer","format":"int64"},"failedEvents":{"type":"integer","format":"int64"},"criticalEvents":{"type":"integer","format":"int64"},"securityEvents":{"type":"integer","format":"int64"},"eventsByType":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"eventsBySeverity":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"eventsByUser":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"eventsByClient":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"eventsByDay":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"topIpAddresses":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"averageExecutionTime":{"type":"number","format":"double"},"uniqueUsers":{"type":"integer","format":"int64"},"uniqueIpAddresses":{"type":"integer","format":"int64"}}},"ApiResponseDtoAuditLogDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/AuditLogDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"ApiResponseDtoAsyncWorkersDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/AsyncWorkersDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"AsyncWorkersDto":{"type":"object","properties":{"jmsListenerContainers":{"type":"array","items":{"$ref":"#/components/schemas/JmsListenerContainerDto"}},"processingRequests":{"type":"array","items":{"$ref":"#/components/schemas/ProcessingRequestDto"}}}},"JmsListenerContainerDto":{"type":"object","properties":{"containerId":{"type":"string"},"queueName":{"type":"string"},"concurrency":{"type":"string"},"activeSessions":{"type":"integer","format":"int32"},"maxSessions":{"type":"integer","format":"int32"},"currentlyProcessing":{"type":"integer","format":"int32"},"status":{"type":"string"}}},"ProcessingRequestDto":{"type":"object","properties":{"requestId":{"type":"string","format":"uuid"},"threadName":{"type":"string"},"startedAt":{"type":"string","format":"date-time"},"elapsedMs":{"type":"integer","format":"int64"},"templateId":{"type":"string","format":"uuid"},"format":{"type":"string"}}},"ApiResponseDtoPaginatedAsyncRequestsDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/PaginatedAsyncRequestsDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"AsyncRequestDto":{"type":"object","properties":{"requestId":{"type":"string","format":"uuid"},"correlationId":{"type":"string"},"templateId":{"type":"string","format":"uuid"},"format":{"type":"string"},"userId":{"type":"string"},"status":{"type":"string","enum":["QUEUED","PROCESSING","COMPLETED","FAILED","TIMEOUT"]},"priority":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"startedAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"},"elapsedMs":{"type":"integer","format":"int64"},"retryCount":{"type":"integer","format":"int32"}}},"PaginatedAsyncRequestsDto":{"type":"object","properties":{"totalItems":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"itemsPerPage":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/AsyncRequestDto"}}}},"ApiResponseDtoAsyncRequestDetailsDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/AsyncRequestDetailsDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"AsyncRequestDetailsDto":{"type":"object","properties":{"requestId":{"type":"string","format":"uuid"},"correlationId":{"type":"string"},"templateId":{"type":"string","format":"uuid"},"format":{"type":"string"},"userId":{"type":"string"},"status":{"type":"string","enum":["QUEUED","PROCESSING","COMPLETED","FAILED","TIMEOUT"]},"priority":{"type":"integer","format":"int32"},"replyQueue":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"startedAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"},"processingTimeMs":{"type":"integer","format":"int64"},"queueWaitTimeMs":{"type":"integer","format":"int64"},"filename":{"type":"string"},"fileSize":{"type":"integer","format":"int64"},"base64Size":{"type":"integer","format":"int64"},"retryCount":{"type":"integer","format":"int32"},"errorMessage":{"type":"string"}}},"AsyncMetricsDto":{"type":"object","properties":{"queueDepth":{"$ref":"#/components/schemas/QueueDepthDto"},"performance":{"$ref":"#/components/schemas/PerformanceDto"},"throughput":{"$ref":"#/components/schemas/ThroughputDto"},"errorRate":{"$ref":"#/components/schemas/ErrorRateDto"}}},"ErrorRateDto":{"type":"object","properties":{"last24h":{"type":"number","format":"double"},"last1h":{"type":"number","format":"double"}}},"PerformanceDto":{"type":"object","properties":{"avgProcessingTimeMs":{"type":"number","format":"double"},"last24h":{"type":"number","format":"double"},"last1h":{"type":"number","format":"double"}}},"QueueDepthDto":{"type":"object","properties":{"queued":{"type":"integer","format":"int64"},"processing":{"type":"integer","format":"int64"},"completed":{"type":"integer","format":"int64"},"failed":{"type":"integer","format":"int64"},"timeout":{"type":"integer","format":"int64"}}},"ThroughputDto":{"type":"object","properties":{"last24h":{"type":"integer","format":"int64"},"last1h":{"type":"integer","format":"int64"},"last15min":{"type":"integer","format":"int64"}}},"ApiResponseDtoAsyncMetricsDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/AsyncMetricsDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"ApiResponseDtoAsyncHealthDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/AsyncHealthDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"AsyncHealthDto":{"type":"object","properties":{"status":{"type":"string"},"components":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ComponentHealthDto"}}}},"ComponentHealthDto":{"type":"object","properties":{"status":{"type":"string"},"details":{"type":"object","additionalProperties":{"type":"object"}}}},"ApiResponseDtoPaginatedAsyncErrorsDto":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"$ref":"#/components/schemas/PaginatedAsyncErrorsDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}},"AsyncErrorDto":{"type":"object","properties":{"requestId":{"type":"string","format":"uuid"},"correlationId":{"type":"string"},"templateId":{"type":"string","format":"uuid"},"userId":{"type":"string"},"failedAt":{"type":"string","format":"date-time"},"errorMessage":{"type":"string"},"retryCount":{"type":"integer","format":"int32"},"processingTimeMs":{"type":"integer","format":"int64"}}},"PaginatedAsyncErrorsDto":{"type":"object","properties":{"totalItems":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPage":{"type":"integer","format":"int32"},"itemsPerPage":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/AsyncErrorDto"}}}},"ApiResponseDtoVoid":{"type":"object","properties":{"meta":{"$ref":"#/components/schemas/ApiMetaDto"},"data":{"type":"object"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDto"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","description":"JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\"","scheme":"bearer","bearerFormat":"JWT"}}}}